/*
Main Background: #2B2733

Text on Main BG: #CBC9CF

Header and Cards: #46424D

Text on Header/Cards: #FFF

Study: #B3FD78

Meditate: #C278FD

Exercise: #FD8078

Error: #EFB7EC
*/

body {
    background-color: #2B2733;
    background-size: cover;
    margin-top: -10px;
    margin-left: -10px;
    padding: none;
    overflow: hidden;
    font-family: "Montserrat";
    color: #FFF;
}
h1 {
    color: #CBC9CF;
    margin-left: 2vw;
    font-size: 24px;
}
h3 {
    margin-left: 6vw;
    margin-top: 8vh;
}
.header {
    display: flex;
    background-color: #46424D;
    color: #CBC9CF;
    font-size: 28px;
    width: 105vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.new-activity {
    position: relative;
    display: inline-block;
    align-content: center;
    align-items: center;
    margin-left: 2vw;
    width: 58vw;
    height: 70vh;
    background-color: #46424D;
}
.button {
    display: inline-block;
    margin-top: 1vh;
    margin-left: 6vw;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px #FFF solid;
    width: 120px;
    height: 60px;
    background-color: #46424D;
    color: #FFF;
}
.past-activities {
    background-color: #2B2733;
    position: relative;
    float: right;
    margin-top: -61px;
    width: 35vw;
    height: 100vh;
    color: #CBC9CF;
    border-left: 4px #46424D solid;
}
.default-text {
    text-align: center;
    margin: 20px 60px;
}
#study-icon {
    height: 30px;
    width: 30px;
}
#meditate-icon {
    height: 30px;
    width: 30px;
}
#exercise-icon {
    height: 30px;
    width: 30px;
}
label {
    display: block;
    width: 550px;
    text-align: top;
    margin-left: 5rem;
    margin-right: auto;
}
input {
    display: inline-block;
    border: none;
    background-color: #46424D;
    border-bottom: 2px solid #CBC9CF;
    
}
#accomplishments {
    position: relative;
    display: block;
    margin-left: 5rem;
    width: 580px;

}
#minutes {
    position: relative;
    display: block;
    float: left;
    width: 250px;
    margin-left: 5rem;
}

#seconds {
    position: relative;
    display: block;
    width: 250px;
    margin-left: -14rem;
}
#seconds-label {
    margin-left: -14rem;
    width: 100px;
}
.timer {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

 .start-activity-button {
    display: inline-block;
    height: 35px;
    width: 170px;
    margin-left: 31rem;
    margin-top: 1.5rem;

} 
