/*
Main Background: #2B2733

Text on Main BG: #CBC9CF

Header and Cards: #46424D

Text on Header/Cards: #FFF

Study: #B3FD78

Meditate: #C278FD

Exercise: #FD8078

Error: #EFB7EC
*/

body {
    background-color: #2B2733;
    background-size: cover;
    margin: none;
    padding: none;
    overflow: hidden;
    font-family: "Montserrat";
    color: #FFF;
}
h1 {
    color: #CBC9CF;
    margin-left: 2vw;
}
h3 {
    margin-left: 6vw;
    margin-top: 8vh;
}
.header {
    display: flex;
    background-color: #46424D;
    color: #CBC9CF;
    font-size: 28px;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.new-activity {
    position: relative;
    display: inline-block;
    align-content: center;
    align-items: center;
    margin-left: 2vw;
    width: 60vw;
    height: 70vh;
    background-color: #46424D;
}
.button {
    display: inline-block;
    margin-top: 1vh;
    margin-left: 6vw;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px #FFF solid;
    width: 140px;
    height: 60px;
    background-color: #46424D;
    color: #FFF;
}
.past-activities {
    background-color: #2B2733;
    position: relative;
    float: right;
    margin-top: -80px;
    width: 30vw;
    height: 100vh;
    color: #CBC9CF;
    border-left: 4px #46424D solid;
}
#study-icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
}
#meditate-icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
}
#exercise-icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.what-would {
  margin-left: 6vw;
}

.minutes {
  margin-left: 6vw;
  float: left;

}

.seconds {
  margin-right: 6vw;
  float: right;

}

.start-activity-button {
  height: 35px;
  width: 170px;
  float: right;
  margin-right: 8vw;
  margin-bottom: -5vh;

}
